/* ====== для домашніх занять та тренувань==== */
.testy-link {
  font-weight: 700;
  color: #000000;
}
.testy-link:hover {
  color: rgb(255, 0, 0);
}

/* =====/для домашніх занять та тренувань==== */
