:root {
  --primary-font-family: "Roboto";
  --secondary-font-family: "Raleway";
  --primary-brand-color: #4d5ae5;
  --presed-state-color: #404bbf;
  --dark-color-bg: #2e2f42;
  --success-color-bg: #31d0aa;
  --text-color-bg: #434455;
  --sabtle-text-color-bg: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color-bg: #f4f4fd;
  --overlay-color-bg: rgba(46, 47, 66, 0.4);
  --hero-color-bg: rgba(46, 47, 66, 0.7);
  --title-text-color: #2e2f42;
  --primary-bg-color: #ffffff;
  --primary-white-color: #ffffff;
  --header-1-font-size: 56px;
  --header-1-font-weight: 700;
  --header-1-line-height: 1.07;
  --header-2-font-size: 36px;
  --header-2-line-height: 1.11;
  --header-3-font-size: 20px;
  --header-3-font-weight: 500;
  --logo-font-size: 18px;
  --regular-font-size: 16px;
  --text-font-size: 14px;
  --text-font-weight: 400;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.pointer {
  cursor: pointer;
}

body {
  background-color: var(--primary-bg-color);
  font-family: var(--primary-font-family), sans-serif;
  font-size: var(--regular-font-size);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* =========== styles remove =========  */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* =========== /styles remove =========  */

.logotype {
  font-family: var(--secondary-font-family), sans-serif;
  font-size: var(--logo-font-size);
  font-weight: 800;
  line-height: 1.17;
}
.web-color {
  color: var(--primary-brand-color);
}
.studio-color {
  color: var(--dark-color-bg);
}
.studio-color-footer {
  color: #f4f4fd;
}
/* ================== COMPONENTS ================== */
.suptitle {
  font-size: var(--header-2-font-size);
  line-height: var(--header-2-line-height);
  text-transform: capitalize;
  color: var(--title-text-color);
}

.section-suptitle {
  font-weight: var(--header-3-font-weight);
  font-size: var(--header-3-font-size);
  line-height: 1.2;
  /* text-align: center; */
  color: var(--title-text-color);
}

.project-txt {
  color: var(--text-color-bg);
}
.suptitle-theme-light {
  color: #e7e9fc;
}

.suptitle-theme-dark {
  color: #000000;
}
/* ================== /COMPONENTS ================== */

/*========= HEADER ===============*/

.menu-link {
  font-weight: 500;
  color: #2e2f42;
}

.menu .menu-link:hover,
.menu .menu-link:focus {
  color: var(--presed-state-color);
}

.contact-phone-mail {
  font-style: normal;
  color: var(--dark-color-bg);
}
.contact-phone-mail:active {
  color: var(--dark-color-bg);
}
/* ================/HEADER ============== */

/* =================HERO================= */

.hero {
  background: var(--dark-color-bg);
}
.main-title {
  font-size: 56px;
  line-height: 1.07;
  color: #ffffff;
}

/* ========= Button ============== */
.button {
  color: var(--primary-bg-color);
  background-color: var(--primary-brand-color);
}

.button:hover,
.button:focus {
  background: var(--presed-state-color);
  color: #ffffff;
}
/* ========= /Button ============== */

/* =================== Team ============== */
.team {
  background-color: var(--light-color-bg);
}
/* =================== /Team ============== */

/* =============FOOTER=================== */

.footer-content {
  background: var(--dark-color-bg);
}
