:root {
  --primary-brand-color: #4d5ae5;
  --presed-state-color: #404bbf;
  --dark-color-bg: #2e2f42;
  --success-color-bg: #31d0aa;
  --text-color-bg: #434455;
  --sabtle-text-color-bg: #8e8f99;
  --accent-color-bg: #e7e9fc;
  --light-color-bg: #f4f4fd;
  --overlay-color-bg: rgba(46, 47, 66, 0.4);
  --hero-color-bg: rgba(46, 47, 66, 0.7);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  /* background-color: #ffffff; */
}
/* =========== styles remove =========  */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* =========== /styles remove =========  */

.logotype {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
}
.web-color {
  color: #4d5ae5;
}
.studio-color {
  color: #2e2f42;
}
.studio-color-footer {
  color: #f4f4fd;
}
/* ================== COMPONENTS ================== */
.suptitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: #2e2f42;
}

.suptitle-3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  /* text-align: center; */
  color: #2e2f42;
}

.suptitle-txt {
  font-weight: 400;
  color: #434455;
}
.suptitle-theme-light {
  color: #e7e9fc;
}

.suptitle-theme-dark {
  color: #000000;
}
/* ================== /COMPONENTS ================== */

/*========= HEADER ===============*/

.menu-link {
  font-weight: 500;
  color: #2e2f42;
}

.menu .menu-link:hover,
.menu .menu-link:focus {
  color: #404bbf;
}

.contact-phone-mail {
  font-style: normal;
  font-weight: 400;
  color: #434455;
}
.contact-phone-mail:active {
  color: #2e2f42;
}
/* ================/HEADER ============== */

/* =================HERO================= */

.hero {
  width: 1440px;
  height: 600px;
  left: 0px;
  top: 72px;
  background: #2e2f42;
}
.main-title {
  /* position: absolute; */
  width: 496px;
  height: 120px;
  left: 472px;
  top: 260px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  /* text-align: center; */
  color: #ffffff;
}

.order-btn {
  font-weight: 500;
  /* display: flex;
  align-items: center; */
  letter-spacing: 0.04em;
  color: #ffffff;
  /* width: 169px;
  height: 56px;
  left: 20px;
  top: 20px; */
  background: #4d5ae5;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
  /* border-radius: 4px; */
}

.order-btn:hover,
.order-btn:focus {
  background: #404bbf;
  color: #ffffff;
}

/* ================= /HERO ================= */

/* ================== what are we doing ====== */

/* ================== /what are we doing ====== */
/* =================== Team ============== */
.team {
  background-color: var(--light-color-bg);
}
/* =================== /Team ============== */

/* =============FOOTER=================== */

.footer-bck {
  /* position: absolute; */
  width: 1440px;
  height: 310px;
  left: 0px;
  top: 2280px;
  background: #2e2f42;
}
